
.cms-updater-key-wrapper {
    position: relative;
    padding-right: 25px;
    display: inline-block;
}

.cms-updater-key-wrapper .approved, .cms-updater-key-wrapper .failed {
    background: rgba(0, 0, 0, 0) url("../img/ok.gif") no-repeat scroll 0 0;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 30px;
}

.cms-updater-key-wrapper .failed {
    background: rgba(0, 0, 0, 0) url("../img/not_ok.gif") no-repeat scroll 0 0;
    background-size: 20px 20px;
}

#buy-cms-updater-service{
    height: 600px;
}

.renew-link{
    margin-left: 20px;
}